In [59]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [60]:
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (2.0.2)

In [61]:
import pandas as pd
import numpy as np

In [62]:
df=pd.read_csv('/content/mega_data_cleaning_dataset - Sheet1.csv')
df

,Customer_ID,Name,Age,Gender,Country,State,City,Email,Signup_Date,Account_Status,...,Quantity,Purchase_Date,Delivery_Date,Payment_Type,Feedback_Score,Comments,Customer_Loyalty,Last_Login,Signup_Channel,Total_Purchase
0,1191,Larry Wallace,31,Other,NaN,Arkansas,Janetfort,gonzalezbrandi@shaffer-lambert.com,2021-05-23,Inactive,...,12,2025-04-04,2025-09-10,up,4.7,During about main range.,NaN,2025-07-23,Web,7394.28
1,8287,Shawn Palmer,20,Male,Uganda,Texas,Smithhaven,davidmendoza@hotmail.com,2025-05-18,NaN,...,9,2025-01-23,2025-05-29,Cash,4.2,Beat increase state especially society color.,Returning,2025-02-21,Web,5083.20
2,6574,Daniel Cortez,105,Mle,Tajikistan,Montana,West Jennifermouth,hoffmancole@yahoo.com,2025-05-19,Active,...,0,2025-08-08,2025-01-30,UPI,3.7,That resource sound.,Returning,2025-04-24,web,0.00
3,3377,Cindy Barber,100,Female,Chile,Ohio,Staceyberg,carpenterlinda@yahoo.com,2024-08-19,Active,...,9,2025-03-25,2025-01-24,Debit,4.4,Customer international base media.,New,2025-07-28,App,7361.37
4,5107,William Patel,110,Mle,Timor-Leste,Hawaii,South Hollyfort,blairivan@lyons-christensen.org,2020-05-04,NaN,...,7,2025-05-04,2025-04-26,up,2.5,Sport concern entire.,New,NaN,App,6561.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,8287,Deborah Garcia,11,Mle,Cape Verde,Maine,Lake Albert,timothy71@hotmail.com,2025-02-18,Inactive,...,17,2025-01-30,2025-03-19,Cash,1.2,NaN,NaN,2025-02-16,web,2742.27
9996,8932,Donald Pineda,69,Female,NaN,Pennsylvania,Raymondbury,gsmith@hotmail.com,2022-07-03,NaN,...,-5,2025-05-22,2025-04-12,Credit,3.7,Cut talk father trade last Democrat participant.,VIP,2025-09-18,Web,-792.65
9997,6328,Alexandria Moore,-5,Other,Cocos (Keeling) Islands,Pennsylvania,Port Frank,morgansamantha@hotmail.com,2023-03-01,Banned,...,4,2025-02-18,2025-08-14,UPI,4.6,Place our focus television story tonight.,Returning,NaN,App,-138.16
9998,8121,NaN,110,Male,Equatorial Guinea,Maine,Jacquelinefort,courtneybradley@day-gilbert.com,2022-11-20,Inactive,...,8,2025-05-30,2025-03-21,Credit,0.3,Region degree rest never it.,VIP,NaN,Phone,1542.56
9999,2851,Kathleen Leblanc,67,Mle,Albania,Virginia,South Michelle,kristincook@thompson-campbell.info,2024-04-01,Inactive,...,15,2025-04-07,2025-07-01,Cash,0.9,Surface bill everyone music paper us beyond.,NaN,2025-05-24,Phone,5585.55

In [63]:
#Identify and remove duplicates rows in the dataset
df.duplicated()
df

,Customer_ID,Name,Age,Gender,Country,State,City,Email,Signup_Date,Account_Status,...,Quantity,Purchase_Date,Delivery_Date,Payment_Type,Feedback_Score,Comments,Customer_Loyalty,Last_Login,Signup_Channel,Total_Purchase
0,1191,Larry Wallace,31,Other,NaN,Arkansas,Janetfort,gonzalezbrandi@shaffer-lambert.com,2021-05-23,Inactive,...,12,2025-04-04,2025-09-10,up,4.7,During about main range.,NaN,2025-07-23,Web,7394.28
1,8287,Shawn Palmer,20,Male,Uganda,Texas,Smithhaven,davidmendoza@hotmail.com,2025-05-18,NaN,...,9,2025-01-23,2025-05-29,Cash,4.2,Beat increase state especially society color.,Returning,2025-02-21,Web,5083.20
2,6574,Daniel Cortez,105,Mle,Tajikistan,Montana,West Jennifermouth,hoffmancole@yahoo.com,2025-05-19,Active,...,0,2025-08-08,2025-01-30,UPI,3.7,That resource sound.,Returning,2025-04-24,web,0.00
3,3377,Cindy Barber,100,Female,Chile,Ohio,Staceyberg,carpenterlinda@yahoo.com,2024-08-19,Active,...,9,2025-03-25,2025-01-24,Debit,4.4,Customer international base media.,New,2025-07-28,App,7361.37
4,5107,William Patel,110,Mle,Timor-Leste,Hawaii,South Hollyfort,blairivan@lyons-christensen.org,2020-05-04,NaN,...,7,2025-05-04,2025-04-26,up,2.5,Sport concern entire.,New,NaN,App,6561.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,8287,Deborah Garcia,11,Mle,Cape Verde,Maine,Lake Albert,timothy71@hotmail.com,2025-02-18,Inactive,...,17,2025-01-30,2025-03-19,Cash,1.2,NaN,NaN,2025-02-16,web,2742.27
9996,8932,Donald Pineda,69,Female,NaN,Pennsylvania,Raymondbury,gsmith@hotmail.com,2022-07-03,NaN,...,-5,2025-05-22,2025-04-12,Credit,3.7,Cut talk father trade last Democrat participant.,VIP,2025-09-18,Web,-792.65
9997,6328,Alexandria Moore,-5,Other,Cocos (Keeling) Islands,Pennsylvania,Port Frank,morgansamantha@hotmail.com,2023-03-01,Banned,...,4,2025-02-18,2025-08-14,UPI,4.6,Place our focus television story tonight.,Returning,NaN,App,-138.16
9998,8121,NaN,110,Male,Equatorial Guinea,Maine,Jacquelinefort,courtneybradley@day-gilbert.com,2022-11-20,Inactive,...,8,2025-05-30,2025-03-21,Credit,0.3,Region degree rest never it.,VIP,NaN,Phone,1542.56
9999,2851,Kathleen Leblanc,67,Mle,Albania,Virginia,South Michelle,kristincook@thompson-campbell.info,2024-04-01,Inactive,...,15,2025-04-07,2025-07-01,Cash,0.9,Surface bill everyone music paper us beyond.,NaN,2025-05-24,Phone,5585.55

In [64]:
df=df.drop_duplicates()
df

,Customer_ID,Name,Age,Gender,Country,State,City,Email,Signup_Date,Account_Status,...,Quantity,Purchase_Date,Delivery_Date,Payment_Type,Feedback_Score,Comments,Customer_Loyalty,Last_Login,Signup_Channel,Total_Purchase
0,1191,Larry Wallace,31,Other,NaN,Arkansas,Janetfort,gonzalezbrandi@shaffer-lambert.com,2021-05-23,Inactive,...,12,2025-04-04,2025-09-10,up,4.7,During about main range.,NaN,2025-07-23,Web,7394.28
1,8287,Shawn Palmer,20,Male,Uganda,Texas,Smithhaven,davidmendoza@hotmail.com,2025-05-18,NaN,...,9,2025-01-23,2025-05-29,Cash,4.2,Beat increase state especially society color.,Returning,2025-02-21,Web,5083.20
2,6574,Daniel Cortez,105,Mle,Tajikistan,Montana,West Jennifermouth,hoffmancole@yahoo.com,2025-05-19,Active,...,0,2025-08-08,2025-01-30,UPI,3.7,That resource sound.,Returning,2025-04-24,web,0.00
3,3377,Cindy Barber,100,Female,Chile,Ohio,Staceyberg,carpenterlinda@yahoo.com,2024-08-19,Active,...,9,2025-03-25,2025-01-24,Debit,4.4,Customer international base media.,New,2025-07-28,App,7361.37
4,5107,William Patel,110,Mle,Timor-Leste,Hawaii,South Hollyfort,blairivan@lyons-christensen.org,2020-05-04,NaN,...,7,2025-05-04,2025-04-26,up,2.5,Sport concern entire.,New,NaN,App,6561.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,8287,Deborah Garcia,11,Mle,Cape Verde,Maine,Lake Albert,timothy71@hotmail.com,2025-02-18,Inactive,...,17,2025-01-30,2025-03-19,Cash,1.2,NaN,NaN,2025-02-16,web,2742.27
9996,8932,Donald Pineda,69,Female,NaN,Pennsylvania,Raymondbury,gsmith@hotmail.com,2022-07-03,NaN,...,-5,2025-05-22,2025-04-12,Credit,3.7,Cut talk father trade last Democrat participant.,VIP,2025-09-18,Web,-792.65
9997,6328,Alexandria Moore,-5,Other,Cocos (Keeling) Islands,Pennsylvania,Port Frank,morgansamantha@hotmail.com,2023-03-01,Banned,...,4,2025-02-18,2025-08-14,UPI,4.6,Place our focus television story tonight.,Returning,NaN,App,-138.16
9998,8121,NaN,110,Male,Equatorial Guinea,Maine,Jacquelinefort,courtneybradley@day-gilbert.com,2022-11-20,Inactive,...,8,2025-05-30,2025-03-21,Credit,0.3,Region degree rest never it.,VIP,NaN,Phone,1542.56
9999,2851,Kathleen Leblanc,67,Mle,Albania,Virginia,South Michelle,kristincook@thompson-campbell.info,2024-04-01,Inactive,...,15,2025-04-07,2025-07-01,Cash,0.9,Surface bill everyone music paper us beyond.,NaN,2025-05-24,Phone,5585.55

In [65]:
df=df.drop_duplicates(subset=['Customer_ID'])
df

,Customer_ID,Name,Age,Gender,Country,State,City,Email,Signup_Date,Account_Status,...,Quantity,Purchase_Date,Delivery_Date,Payment_Type,Feedback_Score,Comments,Customer_Loyalty,Last_Login,Signup_Channel,Total_Purchase
0,1191,Larry Wallace,31,Other,NaN,Arkansas,Janetfort,gonzalezbrandi@shaffer-lambert.com,2021-05-23,Inactive,...,12,2025-04-04,2025-09-10,up,4.7,During about main range.,NaN,2025-07-23,Web,7394.28
1,8287,Shawn Palmer,20,Male,Uganda,Texas,Smithhaven,davidmendoza@hotmail.com,2025-05-18,NaN,...,9,2025-01-23,2025-05-29,Cash,4.2,Beat increase state especially society color.,Returning,2025-02-21,Web,5083.20
2,6574,Daniel Cortez,105,Mle,Tajikistan,Montana,West Jennifermouth,hoffmancole@yahoo.com,2025-05-19,Active,...,0,2025-08-08,2025-01-30,UPI,3.7,That resource sound.,Returning,2025-04-24,web,0.00
3,3377,Cindy Barber,100,Female,Chile,Ohio,Staceyberg,carpenterlinda@yahoo.com,2024-08-19,Active,...,9,2025-03-25,2025-01-24,Debit,4.4,Customer international base media.,New,2025-07-28,App,7361.37
4,5107,William Patel,110,Mle,Timor-Leste,Hawaii,South Hollyfort,blairivan@lyons-christensen.org,2020-05-04,NaN,...,7,2025-05-04,2025-04-26,up,2.5,Sport concern entire.,New,NaN,App,6561.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9991,2919,Tyler Hunter,44,Female,Guam,Indiana,Tylerville,ashley87@yahoo.com,2021-10-23,NaN,...,6,2025-07-19,2025-07-13,Debit,2.1,NaN,New,2025-09-22,Web,3598.86
9993,8538,Harry Carter,108,Female,Tokelau,Texas,West Annaberg,uhayes@clark-webb.com,2023-09-30,Active,...,19,2025-04-15,2025-05-19,Credit,1.6,Six if soldier south support find spring.,New,2025-08-01,Web,1164.13
9994,1905,Deborah Young,128,f,Tuvalu,Tennessee,East Anthonytown,james28@yahoo.com,2020-05-04,NaN,...,19,2025-10-01,2025-04-11,UPI,2.8,Shake fill thank buy.,NaN,2025-06-11,app,6487.55
9998,8121,NaN,110,Male,Equatorial Guinea,Maine,Jacquelinefort,courtneybradley@day-gilbert.com,2022-11-20,Inactive,...,8,2025-05-30,2025-03-21,Credit,0.3,Region degree rest never it.,VIP,NaN,Phone,1542.56
9999,2851,Kathleen Leblanc,67,Mle,Albania,Virginia,South Michelle,kristincook@thompson-campbell.info,2024-04-01,Inactive,...,15,2025-04-07,2025-07-01,Cash,0.9,Surface bill everyone music paper us beyond.,NaN,2025-05-24,Phone,5585.55

In [66]:
df=df.drop_duplicates(subset=['Email'])
df

,Customer_ID,Name,Age,Gender,Country,State,City,Email,Signup_Date,Account_Status,...,Quantity,Purchase_Date,Delivery_Date,Payment_Type,Feedback_Score,Comments,Customer_Loyalty,Last_Login,Signup_Channel,Total_Purchase
0,1191,Larry Wallace,31,Other,NaN,Arkansas,Janetfort,gonzalezbrandi@shaffer-lambert.com,2021-05-23,Inactive,...,12,2025-04-04,2025-09-10,up,4.7,During about main range.,NaN,2025-07-23,Web,7394.28
1,8287,Shawn Palmer,20,Male,Uganda,Texas,Smithhaven,davidmendoza@hotmail.com,2025-05-18,NaN,...,9,2025-01-23,2025-05-29,Cash,4.2,Beat increase state especially society color.,Returning,2025-02-21,Web,5083.20
2,6574,Daniel Cortez,105,Mle,Tajikistan,Montana,West Jennifermouth,hoffmancole@yahoo.com,2025-05-19,Active,...,0,2025-08-08,2025-01-30,UPI,3.7,That resource sound.,Returning,2025-04-24,web,0.00
3,3377,Cindy Barber,100,Female,Chile,Ohio,Staceyberg,carpenterlinda@yahoo.com,2024-08-19,Active,...,9,2025-03-25,2025-01-24,Debit,4.4,Customer international base media.,New,2025-07-28,App,7361.37
4,5107,William Patel,110,Mle,Timor-Leste,Hawaii,South Hollyfort,blairivan@lyons-christensen.org,2020-05-04,NaN,...,7,2025-05-04,2025-04-26,up,2.5,Sport concern entire.,New,NaN,App,6561.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9991,2919,Tyler Hunter,44,Female,Guam,Indiana,Tylerville,ashley87@yahoo.com,2021-10-23,NaN,...,6,2025-07-19,2025-07-13,Debit,2.1,NaN,New,2025-09-22,Web,3598.86
9993,8538,Harry Carter,108,Female,Tokelau,Texas,West Annaberg,uhayes@clark-webb.com,2023-09-30,Active,...,19,2025-04-15,2025-05-19,Credit,1.6,Six if soldier south support find spring.,New,2025-08-01,Web,1164.13
9994,1905,Deborah Young,128,f,Tuvalu,Tennessee,East Anthonytown,james28@yahoo.com,2020-05-04,NaN,...,19,2025-10-01,2025-04-11,UPI,2.8,Shake fill thank buy.,NaN,2025-06-11,app,6487.55
9998,8121,NaN,110,Male,Equatorial Guinea,Maine,Jacquelinefort,courtneybradley@day-gilbert.com,2022-11-20,Inactive,...,8,2025-05-30,2025-03-21,Credit,0.3,Region degree rest never it.,VIP,NaN,Phone,1542.56
9999,2851,Kathleen Leblanc,67,Mle,Albania,Virginia,South Michelle,kristincook@thompson-campbell.info,2024-04-01,Inactive,...,15,2025-04-07,2025-07-01,Cash,0.9,Surface bill everyone music paper us beyond.,NaN,2025-05-24,Phone,5585.55

In [67]:
df=df.drop_duplicates(subset=['Product_ID'])
df

,Customer_ID,Name,Age,Gender,Country,State,City,Email,Signup_Date,Account_Status,...,Quantity,Purchase_Date,Delivery_Date,Payment_Type,Feedback_Score,Comments,Customer_Loyalty,Last_Login,Signup_Channel,Total_Purchase
0,1191,Larry Wallace,31,Other,NaN,Arkansas,Janetfort,gonzalezbrandi@shaffer-lambert.com,2021-05-23,Inactive,...,12,2025-04-04,2025-09-10,up,4.7,During about main range.,NaN,2025-07-23,Web,7394.28
1,8287,Shawn Palmer,20,Male,Uganda,Texas,Smithhaven,davidmendoza@hotmail.com,2025-05-18,NaN,...,9,2025-01-23,2025-05-29,Cash,4.2,Beat increase state especially society color.,Returning,2025-02-21,Web,5083.20
2,6574,Daniel Cortez,105,Mle,Tajikistan,Montana,West Jennifermouth,hoffmancole@yahoo.com,2025-05-19,Active,...,0,2025-08-08,2025-01-30,UPI,3.7,That resource sound.,Returning,2025-04-24,web,0.00
3,3377,Cindy Barber,100,Female,Chile,Ohio,Staceyberg,carpenterlinda@yahoo.com,2024-08-19,Active,...,9,2025-03-25,2025-01-24,Debit,4.4,Customer international base media.,New,2025-07-28,App,7361.37
4,5107,William Patel,110,Mle,Timor-Leste,Hawaii,South Hollyfort,blairivan@lyons-christensen.org,2020-05-04,NaN,...,7,2025-05-04,2025-04-26,up,2.5,Sport concern entire.,New,NaN,App,6561.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2955,675,NaN,74,Male,Netherlands Antilles,Tennessee,Lake Beverly,nicholas42@yahoo.com,2025-09-17,Active,...,3,2025-10-07,2025-01-31,up,2.7,Last building agent project view fly brother.,NaN,2025-05-02,App,2915.91
3032,1437,Paula Wheeler,111,Mle,Greenland,Connecticut,Port Emilyton,hmunoz@kent.com,2024-09-14,NaN,...,15,2025-08-09,2025-01-02,up,2.1,Almost director simple economic turn.,Returning,2025-06-01,web,8497.50
3034,3786,Karen Miller,22,f,France,NaN,West Brenda,zsmall@gmail.com,2023-05-20,NaN,...,15,2025-07-06,2025-08-26,UPI,5.1,Live assume test hear debate theory market.,New,NaN,web,6547.95
3039,201,Kirk Clayton PhD,80,f,Russian Federation,South Carolina,Andrewton,cbennett@wright.com,2022-01-24,NaN,...,5,2025-10-08,2025-08-06,Crdit,1.8,Order city officer include bag.,New,2025-01-30,Web,4788.95
3298,5796,Angel Hood,53,Mle,NaN,Arkansas,Lake Derek,omar32@yahoo.com,2021-08-19,Banned,...,15,2025-03-10,2025-06-25,Debit,5.8,Popular second song compare.,New,2025-02-28,app,4152.90

In [68]:
df['Name'].fillna('Unknown')

0          Larry Wallace
1           Shawn Palmer
2          Daniel Cortez
3           Cindy Barber
4          William Patel
              ...
2955             Unknown
3032       Paula Wheeler
3034        Karen Miller
3039    Kirk Clayton PhD
3298          Angel Hood
Name: Name, Length: 500, dtype: object

In [69]:
df['Email'].fillna('noemail@example.com')

0       gonzalezbrandi@shaffer-lambert.com
1                 davidmendoza@hotmail.com
2                    hoffmancole@yahoo.com
3                 carpenterlinda@yahoo.com
4          blairivan@lyons-christensen.org
                       ...
2955                  nicholas42@yahoo.com
3032                       hmunoz@kent.com
3034                      zsmall@gmail.com
3039                   cbennett@wright.com
3298                      omar32@yahoo.com
Name: Email, Length: 500, dtype: object

In [70]:
df['Product_Name'].fillna('Misc')

0         police
1       training
2        compare
3           miss
4           deal
          ...
2955      almost
3032       truth
3034      leader
3039        real
3298        card
Name: Product_Name, Length: 500, dtype: object

In [71]:
df['Category'].fillna('Misc')

0              Misc
1          Clothing
2              Misc
3              Misc
4       Electronics
           ...
2955    Electronics
3032           Misc
3034    Electronics
3039           Misc
3298       Clothing
Name: Category, Length: 500, dtype: object

In [72]:
x=df.groupby('Product_Name')['Feedback_Score'].transform('median')
df['Feedback_Score']=df['Feedback_Score'].fillna(x)
df

/tmp/ipython-input-1188751735.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Feedback_Score']=df['Feedback_Score'].fillna(x)

,Customer_ID,Name,Age,Gender,Country,State,City,Email,Signup_Date,Account_Status,...,Quantity,Purchase_Date,Delivery_Date,Payment_Type,Feedback_Score,Comments,Customer_Loyalty,Last_Login,Signup_Channel,Total_Purchase
0,1191,Larry Wallace,31,Other,NaN,Arkansas,Janetfort,gonzalezbrandi@shaffer-lambert.com,2021-05-23,Inactive,...,12,2025-04-04,2025-09-10,up,4.7,During about main range.,NaN,2025-07-23,Web,7394.28
1,8287,Shawn Palmer,20,Male,Uganda,Texas,Smithhaven,davidmendoza@hotmail.com,2025-05-18,NaN,...,9,2025-01-23,2025-05-29,Cash,4.2,Beat increase state especially society color.,Returning,2025-02-21,Web,5083.20
2,6574,Daniel Cortez,105,Mle,Tajikistan,Montana,West Jennifermouth,hoffmancole@yahoo.com,2025-05-19,Active,...,0,2025-08-08,2025-01-30,UPI,3.7,That resource sound.,Returning,2025-04-24,web,0.00
3,3377,Cindy Barber,100,Female,Chile,Ohio,Staceyberg,carpenterlinda@yahoo.com,2024-08-19,Active,...,9,2025-03-25,2025-01-24,Debit,4.4,Customer international base media.,New,2025-07-28,App,7361.37
4,5107,William Patel,110,Mle,Timor-Leste,Hawaii,South Hollyfort,blairivan@lyons-christensen.org,2020-05-04,NaN,...,7,2025-05-04,2025-04-26,up,2.5,Sport concern entire.,New,NaN,App,6561.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2955,675,NaN,74,Male,Netherlands Antilles,Tennessee,Lake Beverly,nicholas42@yahoo.com,2025-09-17,Active,...,3,2025-10-07,2025-01-31,up,2.7,Last building agent project view fly brother.,NaN,2025-05-02,App,2915.91
3032,1437,Paula Wheeler,111,Mle,Greenland,Connecticut,Port Emilyton,hmunoz@kent.com,2024-09-14,NaN,...,15,2025-08-09,2025-01-02,up,2.1,Almost director simple economic turn.,Returning,2025-06-01,web,8497.50
3034,3786,Karen Miller,22,f,France,NaN,West Brenda,zsmall@gmail.com,2023-05-20,NaN,...,15,2025-07-06,2025-08-26,UPI,5.1,Live assume test hear debate theory market.,New,NaN,web,6547.95
3039,201,Kirk Clayton PhD,80,f,Russian Federation,South Carolina,Andrewton,cbennett@wright.com,2022-01-24,NaN,...,5,2025-10-08,2025-08-06,Crdit,1.8,Order city officer include bag.,New,2025-01-30,Web,4788.95
3298,5796,Angel Hood,53,Mle,NaN,Arkansas,Lake Derek,omar32@yahoo.com,2021-08-19,Banned,...,15,2025-03-10,2025-06-25,Debit,5.8,Popular second song compare.,New,2025-02-28,app,4152.90

In [73]:
df['Quantity'].fillna(1)

0       12
1        9
2        0
3        9
4        7
        ..
2955     3
3032    15
3034    15
3039     5
3298    15
Name: Quantity, Length: 500, dtype: int64

In [74]:
df = df[df['Price'] >0]
df

,Customer_ID,Name,Age,Gender,Country,State,City,Email,Signup_Date,Account_Status,...,Quantity,Purchase_Date,Delivery_Date,Payment_Type,Feedback_Score,Comments,Customer_Loyalty,Last_Login,Signup_Channel,Total_Purchase
0,1191,Larry Wallace,31,Other,NaN,Arkansas,Janetfort,gonzalezbrandi@shaffer-lambert.com,2021-05-23,Inactive,...,12,2025-04-04,2025-09-10,up,4.7,During about main range.,NaN,2025-07-23,Web,7394.28
1,8287,Shawn Palmer,20,Male,Uganda,Texas,Smithhaven,davidmendoza@hotmail.com,2025-05-18,NaN,...,9,2025-01-23,2025-05-29,Cash,4.2,Beat increase state especially society color.,Returning,2025-02-21,Web,5083.20
2,6574,Daniel Cortez,105,Mle,Tajikistan,Montana,West Jennifermouth,hoffmancole@yahoo.com,2025-05-19,Active,...,0,2025-08-08,2025-01-30,UPI,3.7,That resource sound.,Returning,2025-04-24,web,0.00
3,3377,Cindy Barber,100,Female,Chile,Ohio,Staceyberg,carpenterlinda@yahoo.com,2024-08-19,Active,...,9,2025-03-25,2025-01-24,Debit,4.4,Customer international base media.,New,2025-07-28,App,7361.37
4,5107,William Patel,110,Mle,Timor-Leste,Hawaii,South Hollyfort,blairivan@lyons-christensen.org,2020-05-04,NaN,...,7,2025-05-04,2025-04-26,up,2.5,Sport concern entire.,New,NaN,App,6561.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2955,675,NaN,74,Male,Netherlands Antilles,Tennessee,Lake Beverly,nicholas42@yahoo.com,2025-09-17,Active,...,3,2025-10-07,2025-01-31,up,2.7,Last building agent project view fly brother.,NaN,2025-05-02,App,2915.91
3032,1437,Paula Wheeler,111,Mle,Greenland,Connecticut,Port Emilyton,hmunoz@kent.com,2024-09-14,NaN,...,15,2025-08-09,2025-01-02,up,2.1,Almost director simple economic turn.,Returning,2025-06-01,web,8497.50
3034,3786,Karen Miller,22,f,France,NaN,West Brenda,zsmall@gmail.com,2023-05-20,NaN,...,15,2025-07-06,2025-08-26,UPI,5.1,Live assume test hear debate theory market.,New,NaN,web,6547.95
3039,201,Kirk Clayton PhD,80,f,Russian Federation,South Carolina,Andrewton,cbennett@wright.com,2022-01-24,NaN,...,5,2025-10-08,2025-08-06,Crdit,1.8,Order city officer include bag.,New,2025-01-30,Web,4788.95
3298,5796,Angel Hood,53,Mle,NaN,Arkansas,Lake Derek,omar32@yahoo.com,2021-08-19,Banned,...,15,2025-03-10,2025-06-25,Debit,5.8,Popular second song compare.,New,2025-02-28,app,4152.90

In [75]:
df = df[df['Price']>=0]
df

,Customer_ID,Name,Age,Gender,Country,State,City,Email,Signup_Date,Account_Status,...,Quantity,Purchase_Date,Delivery_Date,Payment_Type,Feedback_Score,Comments,Customer_Loyalty,Last_Login,Signup_Channel,Total_Purchase
0,1191,Larry Wallace,31,Other,NaN,Arkansas,Janetfort,gonzalezbrandi@shaffer-lambert.com,2021-05-23,Inactive,...,12,2025-04-04,2025-09-10,up,4.7,During about main range.,NaN,2025-07-23,Web,7394.28
1,8287,Shawn Palmer,20,Male,Uganda,Texas,Smithhaven,davidmendoza@hotmail.com,2025-05-18,NaN,...,9,2025-01-23,2025-05-29,Cash,4.2,Beat increase state especially society color.,Returning,2025-02-21,Web,5083.20
2,6574,Daniel Cortez,105,Mle,Tajikistan,Montana,West Jennifermouth,hoffmancole@yahoo.com,2025-05-19,Active,...,0,2025-08-08,2025-01-30,UPI,3.7,That resource sound.,Returning,2025-04-24,web,0.00
3,3377,Cindy Barber,100,Female,Chile,Ohio,Staceyberg,carpenterlinda@yahoo.com,2024-08-19,Active,...,9,2025-03-25,2025-01-24,Debit,4.4,Customer international base media.,New,2025-07-28,App,7361.37
4,5107,William Patel,110,Mle,Timor-Leste,Hawaii,South Hollyfort,blairivan@lyons-christensen.org,2020-05-04,NaN,...,7,2025-05-04,2025-04-26,up,2.5,Sport concern entire.,New,NaN,App,6561.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2955,675,NaN,74,Male,Netherlands Antilles,Tennessee,Lake Beverly,nicholas42@yahoo.com,2025-09-17,Active,...,3,2025-10-07,2025-01-31,up,2.7,Last building agent project view fly brother.,NaN,2025-05-02,App,2915.91
3032,1437,Paula Wheeler,111,Mle,Greenland,Connecticut,Port Emilyton,hmunoz@kent.com,2024-09-14,NaN,...,15,2025-08-09,2025-01-02,up,2.1,Almost director simple economic turn.,Returning,2025-06-01,web,8497.50
3034,3786,Karen Miller,22,f,France,NaN,West Brenda,zsmall@gmail.com,2023-05-20,NaN,...,15,2025-07-06,2025-08-26,UPI,5.1,Live assume test hear debate theory market.,New,NaN,web,6547.95
3039,201,Kirk Clayton PhD,80,f,Russian Federation,South Carolina,Andrewton,cbennett@wright.com,2022-01-24,NaN,...,5,2025-10-08,2025-08-06,Crdit,1.8,Order city officer include bag.,New,2025-01-30,Web,4788.95
3298,5796,Angel Hood,53,Mle,NaN,Arkansas,Lake Derek,omar32@yahoo.com,2021-08-19,Banned,...,15,2025-03-10,2025-06-25,Debit,5.8,Popular second song compare.,New,2025-02-28,app,4152.90

In [76]:
df = df[df['Quantity'] >= 0]
df

,Customer_ID,Name,Age,Gender,Country,State,City,Email,Signup_Date,Account_Status,...,Quantity,Purchase_Date,Delivery_Date,Payment_Type,Feedback_Score,Comments,Customer_Loyalty,Last_Login,Signup_Channel,Total_Purchase
0,1191,Larry Wallace,31,Other,NaN,Arkansas,Janetfort,gonzalezbrandi@shaffer-lambert.com,2021-05-23,Inactive,...,12,2025-04-04,2025-09-10,up,4.7,During about main range.,NaN,2025-07-23,Web,7394.28
1,8287,Shawn Palmer,20,Male,Uganda,Texas,Smithhaven,davidmendoza@hotmail.com,2025-05-18,NaN,...,9,2025-01-23,2025-05-29,Cash,4.2,Beat increase state especially society color.,Returning,2025-02-21,Web,5083.20
2,6574,Daniel Cortez,105,Mle,Tajikistan,Montana,West Jennifermouth,hoffmancole@yahoo.com,2025-05-19,Active,...,0,2025-08-08,2025-01-30,UPI,3.7,That resource sound.,Returning,2025-04-24,web,0.00
3,3377,Cindy Barber,100,Female,Chile,Ohio,Staceyberg,carpenterlinda@yahoo.com,2024-08-19,Active,...,9,2025-03-25,2025-01-24,Debit,4.4,Customer international base media.,New,2025-07-28,App,7361.37
4,5107,William Patel,110,Mle,Timor-Leste,Hawaii,South Hollyfort,blairivan@lyons-christensen.org,2020-05-04,NaN,...,7,2025-05-04,2025-04-26,up,2.5,Sport concern entire.,New,NaN,App,6561.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2955,675,NaN,74,Male,Netherlands Antilles,Tennessee,Lake Beverly,nicholas42@yahoo.com,2025-09-17,Active,...,3,2025-10-07,2025-01-31,up,2.7,Last building agent project view fly brother.,NaN,2025-05-02,App,2915.91
3032,1437,Paula Wheeler,111,Mle,Greenland,Connecticut,Port Emilyton,hmunoz@kent.com,2024-09-14,NaN,...,15,2025-08-09,2025-01-02,up,2.1,Almost director simple economic turn.,Returning,2025-06-01,web,8497.50
3034,3786,Karen Miller,22,f,France,NaN,West Brenda,zsmall@gmail.com,2023-05-20,NaN,...,15,2025-07-06,2025-08-26,UPI,5.1,Live assume test hear debate theory market.,New,NaN,web,6547.95
3039,201,Kirk Clayton PhD,80,f,Russian Federation,South Carolina,Andrewton,cbennett@wright.com,2022-01-24,NaN,...,5,2025-10-08,2025-08-06,Crdit,1.8,Order city officer include bag.,New,2025-01-30,Web,4788.95
3298,5796,Angel Hood,53,Mle,NaN,Arkansas,Lake Derek,omar32@yahoo.com,2021-08-19,Banned,...,15,2025-03-10,2025-06-25,Debit,5.8,Popular second song compare.,New,2025-02-28,app,4152.90

In [77]:
#14.	Remove rows where Age is less than 0 or greater than 120
df = df[(df['Age'] >= 0) & (df['Age'] <= 120)]

In [78]:
#15.	Remove rows where Feedback_Score is less than 1 or greater than 5
df = df[(df['Feedback_Score'] >= 1) & (df['Feedback_Score'] <= 5)]

In [79]:
#16.	Remove rows where Delivery_Date is before Purchase_Date
df = df[pd.to_datetime(df['Delivery_Date']) >= pd.to_datetime(df['Purchase_Date'])]

In [80]:
#17.	Fix typos in Gender column (e.g., "Mle" â†’ "Male", "f" â†’ "Female").
df['Gender'] = df['Gender'].replace({'Mle': 'Male', 'mle': 'Male', 'f': 'Female', 'F': 'Female', 'Othr': 'Other'})

In [81]:
#18.	Fix typos in Payment_Type column.
df['Payment_Type'] = df['Payment_Type'].replace({'Cahs': 'Cash', 'CASH': 'Cash','up':'UPI','Crdit':'Credit','credit cart': 'Credit Card','debit': 'Debit Card', 'online pay': 'Online Payment'})

In [82]:
#19.	Standardize Account_Status column (Active/Inactive/Banned).
df['Account_Status'] = df['Account_Status'].str.title()
df['Account_Status'] = df['Account_Status'].replace({'Actv': 'Active', 'Inactiv': 'Inactive', 'Banned_User': 'Banned'})

In [83]:
#20.	Remove invalid email addresses.
df=df[df['Email'].str.contains(r'^[\w\.-]+@[\w\.-]+\.\w+$', na=False)]

In [84]:
#21.Fetch all orders where Price > 500.
orders_price=df[df['Price']>500]

In [85]:
#22.Fetch all orders where Feedback_Score < 3.
FBS=df[df['Feedback_Score']<3]

In [86]:
#23.Fetch all VIP customers (Customer_Loyalty = "VIP") with Total_Purchase > 1000.
vip_customers=df[(df['Customer_Loyalty'] == 'VIP') & (df['Total_Purchase']>1000)]

In [87]:
#24.Fetch all orders where Account_Status = "Banned".
df=df[df['Account_Status']=='Banned']

In [88]:
#25.Fetch all orders delivered late (Delivery_Date - Purchase_Date > 7 days).
df['Delivery_Date'] = pd.to_datetime(df['Delivery_Date'])
df['Purchase_Date'] = pd.to_datetime(df['Purchase_Date'])
late_orders= df[(df['Delivery_Date']-df['Purchase_Date']).dt.days>7]

In [89]:
#26.Fetch all products in the "Electronics" category.
df=df[df['Category']=='Electronics']

In [90]:
#27.Fetch all customers from "India".
df=df[df['Country']=='India']

In [91]:
#28.Fetch all orders where Quantity > 10.
df=df[df['Quantity'] > 10]

In [92]:
#29.Fetch all orders where Discount > 50
df=df[df['Discount']>10]

In [93]:
#30.Fetch all orders where Price * Quantity > 1000.
df=df[df['Price']*df['Quantity']>1000]

In [94]:
#31.using Customer_ID, fetch all orders with the customer details
customer_df=df[['Customer_ID', 'Name', 'Email', 'Country', 'Account_Status']].drop_duplicates()

In [95]:
#32.Using Product_ID, fetch all orders with product details.
product_df=df[['Product_ID', 'Product_Name', 'Category', 'Price']].drop_duplicates()

In [96]:
#33.Combine customer and product info into the orders table.
merged_df=df.merge(customer_df, on='Customer_ID', how='left')
merged_df=merged_df.merge(product_df, on='Product_ID', how='left')

In [97]:
#34.Calculate total purchase per customer (sum(Price * Quantity)).
df['Total_Purchase']=df['Price'] * df['Quantity']
total_purchase=df.groupby('Customer_ID')['Total_Purchase'].sum()

In [98]:
#35.Calculate average feedback per product.
avf=df.groupby('Product_ID')['Feedback_Score'].mean().reset_index(name='Average_Feedback')

In [99]:
#36.Identify customers who only ordered "Electronics".
electronics_customers = df.groupby('Customer_ID')['Category'].nunique()
electronics_only = electronics_customers[electronics_customers == 1].index

In [100]:
#37.Identify top 10 VIP customers by total purchase amount.
vip= total_purchase.sort_values(ascending=False).head(10)

In [101]:
#38.Identify products that were never ordered.
orderproduct=df['Product_ID'].unique()
allproduct=df[~df['Product_ID'].isin(orderproduct)]

In [102]:
#39.Identify orders with missing customer info
missing_customer = df[df['Customer_ID'].isna()]

In [103]:
#40.Identify orders with missing product info.
missing_product = df[df['Product_ID'].isna()]
orders_missing_product = df[df['Product_Name'].isna() | df['Category'].isna()]

In [104]:
#41.Add a column Total_Purchase = Price * Quantity.
df['Total_Purchase'] = df['Price'] * df['Quantity']

In [105]:
#42.Add a column Discounted_Price = Price - Discount.
df['Discounted_Price'] = df['Price'] - df['Discount']

In [106]:
#43.Add a column Delivery_Duration = Delivery_Date - Purchase_Date.
df['Purchase_Date'] = pd.to_datetime(df['Purchase_Date'])
df['Delivery_Date'] = pd.to_datetime(df['Delivery_Date'])
df['Delivery_Duration'] = (df['Delivery_Date'] - df['Purchase_Date']).dt.days

In [107]:
#44.Create Age_Group for customers (Child/Teen/Adult/Senior).
def age_group(age):
    if age < 13:
        return 'Child'
    elif age < 20:
        return 'Teen'
    elif age < 60:
        return 'Adult'
    else:
        return 'Senior'

df['age_group'] = df['Age'].apply(age_group)

In [108]:
#45.Create Loyalty_Level based on total purchase.
def loyalty_level(total):
    if total < 1000:
        return 'Bronze'
    elif total < 5000:
        return 'Silver'
    elif total < 10000:
        return 'Gold'
    else:
        return 'Platinum'

df['Loyalty_Level'] = df['Total_Purchase'].apply(loyalty_level)

In [109]:
#46.Encode Gender numerically (Male=1, Female=2, Other=3).
df['Gender_Code'] = df['Gender'].map({'Male': 1, 'Female': 2, 'Other': 3})

In [110]:
#47.Encode Account_Status numerically.
df['Account_Status_Code'] = df['Account_Status'].map({'Active': 1, 'Inactive': 0})

In [111]:
#48.Standardize Country names (capitalize first letters).
df['Country'] = df['Country'].str.title()

In [112]:
#49.Standardize Payment_Type strings.
df['Payment_Type'] = df['Payment_Type'].str.strip().str.title()

In [113]:
#50.Remove leading/trailing spaces and lowercase all string columns.
for col in df.select_dtypes(include='object').columns:
    df[col] = df[col].astype(str).str.strip().str.lower()

In [114]:
#51.Find top 5 products by total revenue (Price * Quantity).
top_products = df.groupby('Product_ID')['Total_Purchase'].sum().nlargest(5)

In [115]:
#52.Find top 5 customers by total purchase.
top_5_customers=(df.groupby(['Customer_ID'])['Total_Purchase'].sum().reset_index().sort_values(by='Total_Purchase', ascending=False).head(5))

In [116]:
#53.Calculate average discount per category.
avg_dis=(df.groupby('Category')['Discount'].mean().reset_index().sort_values(by='Discount', ascending=False))

In [117]:
#54.Calculate average feedback per product category.
avg_feedback=(df.groupby('Category')['Feedback_Score'].mean().reset_index().sort_values(by='Feedback_Score', ascending=False))

In [118]:
#55.Identify the most popular payment type.
popular_payment=(df['Payment_Type'].value_counts().reset_index().rename(columns={'index':'Payment_Type','Payment_Type':'Count'}).head(1))

In [119]:
#56.Find the customer with the highest single order value.
df['Order_Value'] = df['Price'] * df['Quantity']
highest_order = df.sort_values(by='Order_Value', ascending=False).head(1)

In [120]:
#57.Identify customers who placed more than 5 orders.
customer_orders=df.groupby('Customer_ID').size()
frequent_customers=customer_orders[customer_orders > 5]

In [121]:
#58.Sort orders by Delivery_Duration descending.
df=df.sort_values(by='Delivery_Duration',ascending=False)

In [122]:
#59.Find products with maximum and minimum feedback.
mafp=df.sort_values(by='Feedback_Score', ascending=False).head(1)[['Product_ID', 'Product_Name', 'Feedback_Score']]
mifp=df.sort_values(by='Feedback_Score', ascending=True).head(1)[['Product_ID', 'Product_Name', 'Feedback_Score']]

In [123]:
#60.Group orders by Country and Category, and calculate total Total_Purchase.
TP= (df.groupby(['Country', 'Category'])['Total_Purchase'].sum().reset_index().sort_values(by='Total_Purchase',ascending=False))